/** Login **/
.limiter .container-login100 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/chile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.limiter .container-login100 .wrap-login100{
    top:0;
    left:0;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.limiter .container-login100 .wrap-login100 #crear a{
    width: 120px;
    height: 40px;
    background: #54bc44; 
    border-radius: 24px;
    border: none;
    outline: none; 
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.limiter .container-login100 .wrap-login100 #crear a:hover{
    background:#2e2422;
}
.limiter .container-login100 .wrap-login100 .login100-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.limiter .container-login100 .wrap-login100 .login100-form .login100-form-title {
    color: #fff;
    font-size: 30px;

}
.limiter .container-login100 .wrap-login100 .login100-pic img{
    
    margin-bottom: 150px;
    filter: hue-rotate(30deg) brightness(500%);
}
.limiter .container-login100 .wrap-login100 .login100-pic img:hover{
    filter: hue-rotate(10deg) brightness(500%);
}
/** Login **/

/** Descargas **/
.contenedor{
    background-image: url(../images/fondo.png);
    height: 80vh;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.contenedor .col-lg-6{
    margin-top: -100px;
}
.col-lg-6{
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .5);
    height: 200px;
}
#video{
    margin-top:-150px;
}
/** Descargas **/

/** Lecciones **/
.leccion{
    background-image: url(../images/fondo.png);
    height: 80vh;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    flex-wrap: wrap;  
}
.leccion  #col-lg-6{
    margin-top: -100px;
    
}
/** Lecciones **/